.browse-page {

    .card {
        color: white;
        background-position: center;
        background-repeat: no-repeat;
    }




    .quote-card {

        .card:hover,
        .card:focus {
            box-shadow: 0 5px 15px rgba(0,0,0, 0.9);            
        }

    }


}