.browse-page {

    .card {
        color: white;
        background-position: center;
        background-repeat: no-repeat;
    }




    .quote-card {

        .card {
            border: 0rem;
        }
        
        // .card::after {
        //     // box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        //     box-shadow: 0 5px 15px rgba(255,255,255);
        //     opacity: 0;
        //     visibility: hidden;
        //     transition: opacity 0.3s ease-in-out;
        //     z-index: 2;
        // }
        

        // .car:after {
        //         // opacity: 1;
        //         box-shadow: 0 5px 15px rgba(255,255,255,0.8);
        //         opacity: 0;
        //         // visibility: hidden;

        //         transition: opacity 0.3s ease-in-out;
            
        // }

        // .card:hover {
        //         opacity: 1;
        //         box-shadow: 0 5px 15px rgb(255, 255, 255);
                
        //         visibility: visible;
        //         z-index: 2;
        //         // border: 1px solid white;
        //         transition: opacity 0.3s ease-in-out;
            
        // }

    }

    // .quote-card:hover {
    //     .card::after {
    //         // box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    //         box-shadow: 0 5px 15px rgba(255,255,255);
    //         opacity: 1;
    //         visibility: visible;
    //         transition: opacity 0.3s ease-in-out;
    //     }
    // }

}