.playlist-vertical-view {
    
    .playlist-title {
        font-size: 1.5rem;
        border-width: 0rem;
        background-color: transparent;
    }

    .playlist-container  {

        overflow-y: scroll;
        overflow-x: hidden;
        text-wrap-mode: wrap;

        

        .playlist {
            
            
            height: max-content;
            
        }

        .playlist_quote {

            max-height: 20rem;

            .playlist_quote-buttons {
                visibility: hidden;
            }

            

            .playlist_quote-button-left {
                top: 7.5rem;
                right: 0.5rem;
            }
            .playlist_quote-button-right {
                float: right;
                right: 0.5rem;
                bottom: 8.2rem;
            }

            .card {
                // 
                // opacity: 0;
                // transition: opacity 0.3s ease-in-out;
                // display: inline-block;

            }
            transition: opacity 0.3s ease-in-out;

            
            display: inline-block;

        }

        .playlist_quote:hover, 
        .playlist_quote:focus,
        .playlist_quote:active {
        
            .playlist_quote-buttons {
                visibility: visible;
                z-index: 2;
                cursor: pointer;
                color: white;
            }

            // .card::after,
            // .card::after {
                // -webkit-transform: scale(1.2, 1.2);
                // transform: scale(1.2, 1.2);
                z-index: 2;

            // }
            .card {
                box-shadow: 0 5px 15px rgba(255,255,255,0.3);
            }
            
        }

        

    }

}