.video-player {
    margin-top: 70px;

    .video-player__quote {
        max-height: 500px;
        height: 400px;

        textarea {
            color: white;
            text-wrap: wrap;
            font-size: 2rem;
            background-color: transparent;
        }
    }



    .video-player__time-interval {


        .card-body {
            align-content: center;
        }

        input {
            width: 100%;
            color: white;
            font-size: 3rem;
            text-align: center;
            border: 1px white solid;
            background-color: transparent;
        }
    }

    #player {
        width: 100%;
        min-height: 500px;
    }
}